<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<div id="header" th:fragment="header">
	<div class="title-wrap">
		<p class="header-title">whale books 관리자페이지</p>
		<p class="clock"></p>
	</div>
     
	<div class="user-wrap">
		<div class="user-profile">
			<i class="fa-solid fa-circle-user header"></i>
			<div class="text-wrap">
				 <p th:text="${session.authority}"></p> <!-- 권한명 출력 -->
                 <p th:text="${session.username}"></p>
			</div>            
		</div>
		<form action="/admin/logout" id="logoutForm" method="POST" style="display:none;">
			<input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"> <!-- CSRF 토큰 추가 -->
		</form>
		<i class="fa-solid fa-right-from-bracket log-out" onclick="document.getElementById('logoutForm').submit();" style="cursor: pointer;"></i>
	</div>
</div>
</html>
