#dispatch-list {
    max-height: 400px; /* 원하는 최대 높이 설정 */
    padding: 10px;     /* 여백 추가 */
    box-sizing: border-box; /* 패딩을 포함한 크기 계산 */
}

.checkBox {
	width: 2rem;
}

.inventoryQty {
    text-align: end;
}

.content-dispatch-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center; /* 체크박스와 텍스트를 수직 중앙 정렬 */
    border-bottom: 1px solid #D8D8D8;
    padding: 1.5rem 1rem;
}

input[type="checkbox"] {
    margin-right: 10px; /* 체크박스와 텍스트 사이에 여백 */
}
