<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Insert title here</title>
    <link rel="stylesheet" href="/admin/reviews/css/reviews.css" />
</head>
<body>
    <div class="container">
        <!-- 뒤로가기 버튼 -->
        <button class="back-btn" onclick="location.href='/admin/index?path=admin/inquiries/inquiries'">
            <i class="fa-solid fa-chevron-left"></i>
            <span>뒤로가기</span>
        </button>

        <!-- 리뷰 상세 정보 박스 -->
        <div class="white-frame">
            <div class="text-title">
                <span th:text="'문의번호 : ' + ${inquiries.inquiry_num}"></span>
            </div>
            <div class="text-group">
                <span class="search-list-subject">제목</span>
                <span th:text="${inquiries.inquiry_title}"></span>
            </div>
            <div class="text-group">
                <span class="search-list-subject">작성자</span>
                <span th:text="${inquiries.member_id}"></span>
            </div>
            <div class="text-group">
                <span class="search-list-subject">작성날짜</span>
                <span th:text="${inquiries.inquiry_write_date}"></span>
            </div>
            <div class="text-group">
                <span class="search-list-subject">문의 분류</span>
                <span th:text="${inquiries.inquiry_type}"></span>
            </div>
            <div class="text-group">
                <span class="search-list-subject">내용</span>
                <span id="starRating" th:data-rating="${inquiries.inquiry_content}"></span>
            </div>
            <div class="text-group">
                <span class="search-list-subject">파일첨부</span>
                <span th:text="${inquiries.inquiries_changed}"></span>
            </div>
            <div class="text-group">
                <span class="search-list-subject">답변여부</span>
                <span th:text="${inquiries.inquiry_answer_status}"></span>
            </div>
        </div>
    </div>
</body>
</html>
