<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

	<link rel="stylesheet" href="/admin/reviews/css/reviews.css" />
	<link rel="stylesheet" href="/admin/common/css/modal.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">

<div>
	<div class="filter-container white-frame">
		<div class="header">
			<h1 class="search-list-title">1:1 문의 조회</h1>
		</div>
	
		<div class="content">
			<div class="search-filter">
				<div class="filter-group">
					<span class="search-list-subject">작성일</span>
					<div class="date-picker">
						<div class="input-date-box">
							<input type="text" id="startDate" class="placeholder" placeholder="YYYY-MM-DD" />
							<i class="fa-solid fa-calendar-days"></i>
						</div>
						<div class="calendar-slash">-</div>
						<div class="input-date-box">
							<input type="text" id="endDate" class="placeholder" placeholder="YYYY-MM-DD" />
							<i class="fa-solid fa-calendar-days"></i>
						</div>
					</div>
					<div class="date-options date-pick-btn">
						<button class="date-option today today-btn date-btn" onclick="setToday()">오늘</button>
						<button class="date-option week-btn date-btn" onclick="setDateRange(7)">1주일</button>
						<button class="date-option month-btn date-btn" onclick="setDateRange(30)">1개월</button>
						<button class="date-option year-btn date-btn" onclick="setDateRange(365)">1년</button>
					</div>
				</div>
			</div>
			<div class="search-bar-group">
				<div class="search-list-subject">처리 상태</div>
				<div class="select-wrap">
					<select id="searchColumn" class="select">
						<option value="2">문의유형</option>
						<option value="3">회원ID</option>
					</select>
					<div class="select-arrow-down"></div>
				</div>
				
			    <div class="search-bar-group">
					<div class="select-wrap">
						<input type="radio" id="order-status-all" name="order_status" value="" checked="checked"/>
						<label for="order-status-all">전체</label>
						<input type="radio" id="order-status-change" name="order_status" value="request"/>
						<label for="order-status-change">미답변</label>
						<input type="radio" id="order-status-completion" name="order_status" value="completion"/>
						<label for="order-status-completion">처리완료</label>
					</div>

					<button id="reset-button" onclick="resetFilters()">초기화</button>			
				</div>
			</div>
		</div>
	</div>

	<div class="table-container white-frame">
		<div class="table-total-row" style="margin-bottom: 20px;">
			<span id="total-row" class="table-column-head-txt" style="margin-left: 10px;"></span>
		</div>
		<table id="inquiries" class="table is-striped" style="width: 100%">
			<thead>
				<tr>
					<th>NO</th>
					<th>문의 제목</th>
					<th>문의 분류</th>
					<th>회원ID</th>
					<th>작성일</th>
					<th>답변일</th>
					<th>처리상태</th>
				</tr>
			</thead>
			<tbody></tbody>
		</table>
	</div>
	<script src="//code.jquery.com/jquery-3.7.1.min.js"></script>
	<script src="//cdn.datatables.net/2.1.5/js/dataTables.min.js"></script>
	<script src="//cdn.datatables.net/2.1.5/js/dataTables.bulma.js"></script>

	<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
	<script src="/admin/inquiries/js/inquiries.js"></script>
</div>

</html>
