<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ezen.bookstore.mobile.home.mapper.DeliveryMapper">
	<select id="getRequestList" resultType="deliveryDTO">
		SELECT 
		    dr.request_num, 
		    dr.request_date,
		    LISTAGG(drd.request_detail_num, ', ') WITHIN GROUP (ORDER BY drd.request_detail_num) AS request_detail_nums,
		    LISTAGG(drd.order_num, ', ') WITHIN GROUP (ORDER BY drd.order_num) AS order_nums,
		    SUM(cod.order_detail_qty) AS total_order_qty
		FROM 
		    delivery_request dr
		JOIN 
		    delivery_request_detail drd ON dr.request_num = drd.request_num
		JOIN 
		    customer_order_details cod ON drd.order_num = cod.order_num
		WHERE 
		    dr.request_status LIKE '01'
		    AND
		    cod.order_detail_status LIKE '01'
		GROUP BY 
		    dr.request_num, dr.request_date
		ORDER BY 
		    dr.request_date DESC
    
	</select>
	
	<select id="getOrderStatus" resultType="deliveryDTO">
	    SELECT
		    dr.request_num,
		    co.order_num,
		    co.recipient_name,
		    co.order_addr,
		    co.order_addr_detail,
		    co.order_delivery_status,
		    co.order_purchase_date,
		    co.order_modify_date
		FROM
		    delivery_request        dr
		    LEFT JOIN delivery_request_detail drd ON dr.request_num = drd.request_num
		    LEFT JOIN customer_orders         co ON drd.order_num = co.order_num
		WHERE
		    co.order_payment_status = '01' AND co.delivery_completed_date IS NOT NULL
		GROUP BY
		    dr.request_num,
		    co.order_num,
		    co.recipient_name,
		    co.order_addr,
		    co.order_addr_detail,
		    co.order_delivery_status,
		    co.order_purchase_date,
		    co.order_modify_date
		ORDER BY
		    dr.request_num DESC
	</select>

	<select id="getRequestDetail" parameterType="Integer" resultType="deliveryDTO">
	   SELECT
	        cod.order_num,
	        cod.book_isbn,
	        b.book_name,
	        cod.order_detail_qty
	    FROM
	        delivery_request dr
	    JOIN
	        delivery_request_detail drd ON dr.request_num = drd.request_num
	    JOIN
	        customer_order_details cod ON drd.order_num = cod.order_num
	    JOIN
	        books b ON cod.book_isbn = b.book_isbn
	    WHERE
	        dr.request_num = #{request_num}
	</select>
</mapper>