<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/user/common/layout/mainLayout}"
      layout:fragment="Content">

	<link rel="stylesheet" href="/user/products/css/list.css" />

<div class="content-container">
	<div>
		<span>''에 대한 검색결과 내용</span>
	</div>
	<div>
		<span>
			<input type="text" placeholder="결과 내 재검색"/>
		</span>
	</div>
	<div>
		<div>
			<div>검색조건</div>
			<div>
				<button>책제목</button>
				<button>저자명</button>
				<button>출판사</button>
			</div>
		</div>
		<div>
			<div>검색분야</div>
			<div>
				
			</div>
		</div>
	</div>
	<div>
		<span>전체100건</span>
		<div>
			<span>판매량</span>
			<span>최근출판</span>
			<span>낮은가격</span>
			<span>높은평점</span>
			<span>리뷰수</span>
		</div>
		<div>
			<button>장바구니담기</button>
		</div>
	</div>
	<div>
		<div class="product-list-area" th:each="product : ${productList}">
		    <div>
		        <input type="checkbox" th:value="${product.book_isbn}"/>
		    </div>
		    <div>
		        <img class="product-image" th:src="@{/images/books/{image}(image=${product.book_thumbnail_changed})}" alt="책 이미지">
		    </div>
		    <div>
		        <div th:text="'[국내도서] ' + ${product.book_name}"></div>
		        <div th:text="${product.book_author}"></div>
		        <div th:text="${product.book_publisher} + ' · ' + ${product.book_publish_date}"></div>
		        <div th:text="${#numbers.formatInteger(product.book_price, 0, 'COMMA')}"></div>
		        <div th:text="'★' + ${product.reviews_rating_avg} + ' (' + ${product.review_rating_cnt} + ')'"></div>
		    </div>
		    <div>
		        <div>
		            <button>바로구매</button>
		        </div>
		        <div>
		            <button>장바구니</button>
		        </div>
		    </div>
		</div>
	</div>
</div>
</html>