<!DOCTYPE html>
<html lang="ko" xmlns:th="www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div>
		<span>뒤로가기</span>
	</div>
	<div>
		<div>
			<span>주문번호: [[${detail.order_num}]]</span>
		</div>
		<div>
			<span>주문자: [[${detail.member_name}]]</span>
		</div>
		<div>
			<span>회원ID</span>
			<span>[[${detail.member_id}]]</span>
			<span>이메일</span>
			<span>[[${detail.member_email}]]</span>
		</div>		
		<div>
			<span>전화번호</span>
			<span>[[${detail.member_phoneno}]]</span>
		</div>		
		<div>
			<span>배송지</span>
			<span>[[${detail.order_addr}]] [[${detail.order_addr_detail}]]</span>
		</div>		
		<div>
			<span>출입방법</span>
			<span>[[${detail.common_ent_pw}]]</span>
		</div>		
	</div>
	<div>
		<div>
			<span>반품요청 정보</span>
		</div>
		<div>
			<span>회수지</span>
			<span>[[${detail.retrieve_addr}]] [[${detail.retrieve_addr_detail}]]</span>
		</div>
	</div>
	<div>
		<div>
			<span>총 건</span>
			<div>
				<select>
					<option value="">취소완료</option>
					<option value="">교환완료</option>
					<option value="">반품완료</option>
					<option value="">처리불가</option>
				</select>
				<span>
					<input type="button" value="완료"/>
				</span>
			</div>
		</div>
		<div>
			<div>
				<span><input type="checkbox"/></span>
				<span>NO</span>
				<span>책제목</span>
				<span>ISBN</span>
				<span>가격</span>
				<span>수량</span>
				<span>구매금액</span>
				<span>주문상태</span>
			</div>
			<div th:each="info : ${detailList}">
				<span><input type="checkbox"/></span>
				<span></span>
				<span th:text="${info.book_name}"></span>
				<span th:text="${info.book_isbn}"></span>
				<span th:text="${#numbers.formatInteger(info.order_detail_price, 0, 'COMMA')}"></span>
				<span th:text="${info.order_detail_qty}"></span>
				<span th:text="${#numbers.formatInteger(info.order_price_sum, 0, 'COMMA')}"></span>
				<span th:text="${info.order_detail_status}"></span>
			</div>
			<div>
				<span th:text="'총 금액: ' + ${#numbers.formatInteger(detail.order_price_total, 0, 'COMMA')} + '원'"></span>
			</div>
		</div>
	</div>
</body>
</html>