.inquiries-container {
	border-top: 1px solid #000000;
	padding: 20px 0px 20px 0px;
	border-bottom: 1px solid #DFDFDF;
}


.input-full {
	width: 100%;
	height: 40px;
	border: 1px solid #C0C0C0;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
}

.two-column-grid {
	display: grid; 
	grid-template-columns: 100px 1fr;
}

.flex-column {
	display: flex; 
	flex-direction: column;
}
.btn-custom {
	width: 120px; 
	border-radius: 5px;
}
.flex-center {
	display: flex; 
	align-items: center;
}
.between {
	justify-content: space-between;
 
}

.email-container {
	display: grid; 
	grid-template-columns: 100px 1fr;
	gap: 18px; 
	border-bottom: 1px solid #DFDFDF; 
	padding: 20px 0px 20px 0px
}

.textarea-container {
    position: relative;
    margin-bottom: 20px;
    width: 788px;
}

.textarea-container textarea {
	position: relative;
	width: 100%;
	border: 1px solid #C0C0C0;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    resize: none;
    min-height: 280px;
}

.grey {
	color: #7E7E7E;
}

.sub-title-font {
	font-size: 14px;
	font-weight: 700;
	line-height: 2;	
}

.content-font {
	font-size: 16px;	
	font-weight: 600;
}

.char-count {
	position: absolute;
	bottom: 17px;
	right: 0px;
}

.char-count span {
	display: inline-block;
}

.image-upload-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.input-file {
    display: none;
}

.middle {
	width: 180px;
}

.image-upload-label {
    display: inline-block;
    width: 100px;
    height: 100px;
    border: 2px solid #ccc;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    background-color: #FAFAFA;
    color: #ccc;
    cursor: pointer;
    position: relative;
}

.inquiry-modal-content {
	display: flex;
    flex-direction: column;
    background-color: #fefefe;
    margin: 15% auto;
    border: 0.5px solid #888;
    padding: 20px;
    width: 500px;
    min-height: 500px;
    max-height: 700px;
    border-radius: 8px;
    overflow: auto;
}

.inquiry-modal-text {
	font-size: 20px;
	font-weight: 700;
    display: flex;
    align-items: center;
    line-height: 30px;
    text-align: center;
    border-bottom : 1px solid #DFDFDF;
    justify-content: space-between;
}

.order-item {
	border: 1px solid #C0C0C0;
    padding: 20px;
    display: flex;
    gap: 5px;
    margin: 5px 0px 5px 0px;
    border-radius: 10px;
    flex-direction: column;
}
.order-details {
	display: flex;
    flex-direction: column;
    border-top: 1px solid #C0C0C0;
    padding-top: 5px;
    gap: 5px;
}
.head-button-area {
	margin: 20px 0px 10px 0px;
	display: flex;
    gap: 8px;
	
}

.btn-spacebetween {
	margin: 0 10px;
	color: C0C0C0;
}

.custom-btn {
	color: #7E7E7E;
	border-radius: 20px;
    width: 80px;
    height: 30px;
    background-color: #EBECF0;
}
.custom-clicked-btn {
	color: #FFFFFF;
	border-radius: 20px;
    width: 80px;
    height: 30px;
    background-color: #666666;
}
.cancel-btn-img {
	width: 18px;
	height: 18px;
	background-color: #FFFFFF;
	background-image: url(/user/common/imgs/cancel.png);
	background-size: cover;
	background-position: center;
	border: none;
	cursor: pointer;
}

.custom-modal-footer {
    display: flex;
    align-items: center;
    justify-content: center;
}
.custom-modal-footer .custom-modal-btn.confirm {
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 700;
    width: 80px;
    height: 40px;
    border: 1px solid #845EC2;
    border-radius: 5px;
    background-color: #845EC2;
    margin-top: 15px;
}

.order-summary {
	display: flex; 
	align-items: center;
	margin: 15px 0px 20px 0px; 
	gap: 40px;
}

.order-span {
	border: 1px solid #C0C0C0;
    border-radius: 5px;
    padding: 15px;
	
}
