/* 공통 스타일 */
span.search-list-subject {
	width: 200px;
}

span.search-list-subject.value {
	width: 400px;
}

span.search-list-subject-symbol {
	margin-right: 8px;
	margin-left: 8px;
}
input, select {
	width:270px;
    margin-left: 50px;
}

.info {
    display: flex;
    border-bottom: 2px solid #D8D8D8;
    margin-bottom: 20px;
    padding-bottom: 20px;
    padding-left: 50px;
    align-items: center; /* 자식 요소들을 수직 중앙 정렬 */
    position: relative;
}

.search-list-title:first-child {
    margin-bottom: 30px;
}
.btn{
	display: flex;
	justify-content: center; /* 가로 중앙 정렬 */
	
}

.caution {
	margin-left: 10px;
}

