/* 공통 스타일 */
span.search-list-subject {
	width: 200px;
}

span.search-list-subject.value {
	width: 400px;
}

span.search-list-subject-symbol {
	margin-right: 8px;
	margin-left: 8px;
}
input, select {
	width:270px;
    margin-left: 50px;
}

.info {
    height: 60px;
    display: flex;
    align-items: center; /* 자식 요소들을 수직 중앙 정렬 */
    border-bottom: 1px solid #D8D8D8;
    padding-left: 50px;
    position: relative;
}

.info.profile {
    height: 150px;
}

.search-list-title:first-child {
    margin-bottom: 30px;
}
.btn{
	display: flex;
	justify-content: center; /* 가로 중앙 정렬 */
	
}

.caution {
    display: block;
    font-size: 12px;
    color: #666666;
    margin-bottom: 5px;
}