.table-column-head-txt{
	margin-left: 10px;	
	margin-top : 10px;
}

#searchDept {
	float: right;
}
#commit-button,#change-button {
    float: right;
    margin-bottom: 16px;
    margin-left : 5px;
}

#manager td, #manager th {
   text-align: center;
   vertical-align: middle; 
}

.pagination-list {
   justify-content: center;    
}

.select-container {
    display: inline-flex;
    align-items: center;
}

.select-arrow-down-column {
    margin-left: 5px;
    font-size: 16px;
    color: #000;
    pointer-events: none;
}

.select-wrap > .select-arrow-down.column {
	margin-top: 13px;
	margin-left: 725px;
}