<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="userMain">
	<select id="getBanners" parameterType="String" resultType="userMain">
		SELECT 
			banner_changed 
		FROM 
			banners_popups
		WHERE
			banner_visible = '01' 
		AND 
			banner_position = '01'
	    AND (banner_end IS NULL OR banner_end >= SYSDATE)
			
	</select>

	<select id="getBestBooks" parameterType="String" resultType="userMain">
        
        <![CDATA[
	    SELECT 
	    	* 
	    FROM (
 			SELECT 
		    	b.book_isbn, 
		    	b.book_name, 
		    	b.book_author, 
		    	b.book_intro,
		    	b.book_thumbnail_changed,
		    	SUM(c.order_detail_qty) AS total_order_qty
			FROM 
			    books b
			LEFT JOIN 
			    customer_order_details c ON b.book_isbn = c.book_isbn
		    GROUP BY 
		        b.book_isbn, 
		        b.book_name, 
		        b.book_author,
		        b.book_intro,
			    b.book_thumbnail_changed
			ORDER BY 
			    total_order_qty DESC
			)
   		WHERE 
   			ROWNUM <= 5
   		]]>
	</select>
	
	<select id="getNewBooks" parameterType="String" resultType="userMain">
        
        <![CDATA[
        
		SELECT 
			*	
        FROM (
            SELECT 
	            book_isbn, 
			    book_name, 
			    book_author,
			    book_intro,
			    book_thumbnail_changed
            FROM 
            	books
            ORDER BY book_publish_date DESC
        ) 
        WHERE ROWNUM <= 5

		]]>

	</select>
	
	<select id="getTopRatedBooks" parameterType="String" resultType="userMain">
		<![CDATA[
		
		SELECT *
		FROM (
		    SELECT 
		        b.book_isbn, 
		        b.book_name, 
		        b.book_author, 
		        b.book_intro,
		        b.book_thumbnail_changed,
		        AVG(r.review_rating) AS avg_review_rating
		    FROM 
		        books b
		    LEFT JOIN 
		        customer_order_details c ON b.book_isbn = c.book_isbn
		    LEFT JOIN 
		        reviews r ON c.order_detail_num = r.order_detail_num
		    GROUP BY 
		        b.book_isbn, 
		        b.book_name, 
		        b.book_author, 
		        b.book_thumbnail_changed,
		        b.book_intro
		    ORDER BY 
		        avg_review_rating DESC
		)
		WHERE ROWNUM <= 5
		]]>
	</select>

	
	
	<select id="getRecommendBooks" parameterType="String" resultType="userMain">
	    
	    <![CDATA[
	    
	    SELECT
			* 
	    FROM (
	        SELECT 
	        	book_isbn, 
			    book_name, 
			    book_author,
			    book_thumbnail_changed,
			    book_intro
	        FROM 
	        	books
	        ORDER BY 
	        	DBMS_RANDOM.VALUE
	    ) 
	    WHERE 
	    	ROWNUM <= 5
	    ]]>
	</select>
</mapper>