<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      th:fragment="ConfigFragment">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>BOOKSTORE</title>

	<!-- css 링크 ↓ -->
	<link rel="stylesheet" href="/user/common/css/reset.css">
	<link rel="stylesheet" href="/user/common/css/header.css">
	<link rel="stylesheet" href="/user/common/css/footer.css">
	<link rel="stylesheet" href="/user/common/css/mypage.css">
	<link rel="stylesheet" href="/user/common/css/common.css">

</head>
</html>