table.dataTable tbody tr {
    background-color: white !important;
}

.header h1 {
   margin-bottom: 20px;
}

.content {
   display: flex;
   flex-direction: column;
   gap: 12px;
}

.filter-group, .search-bar-group {
   display: flex;
   flex-direction: row;
   align-items: center;
   gap: 10px;
   border-bottom: 1px solid #D8D8D8;
   padding-bottom: 8px;
}

.date-picker {
   display: flex;
   flex-direction: row;
   gap: 10px;
}

.calendar-slash {
   margin-top: 8px;
}

#members td, #members th {
   text-align: center;
   vertical-align: middle; 
}


