.sub-info-bg{
    display: flex;
    align-items: center;
    height: 80px;
}

.order-purchase-date {
    border-right: 1px solid #c0c0c0;
    font-weight: 700;
    margin-right: 15px;
    padding-right: 20px;
}

.order-num-wrap {
	display: flex;
	font-weight: 300;
	gap: 7px;
}