<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ezen.bookstore.user.mypage.inquiries.mapper.UserInquiriesMapper">
	
	<select id="getInquiriesList" resultType="userInquiries" parameterType="map">
    SELECT * FROM (
        SELECT 
            i.inquiry_num,
            i.inquiry_title,
            i.inquiry_content,
            i.member_id,
            i.inquiry_write_date,
            i.inquiry_answer_status,
            i.inquiry_type,
            i.inquiries_original,
            i.inquiries_changed,
            i.order_num,
            i.order_detail_num,
            i.order_qty,
            ia.answer_content,
            ia.answer_write_date,
            ROW_NUMBER() OVER (ORDER BY i.inquiry_write_date ASC) AS row_num
        FROM 
            inquiries i
        LEFT JOIN 
            inquiries_answer ia ON i.inquiry_num = ia.inquiry_num
        WHERE 
            i.member_id = #{inquiriesDTO.member_id}
            <if test="inquiriesDTO.inquiry_answer_status != null and inquiriesDTO.inquiry_answer_status != ''">
                AND i.inquiry_answer_status = #{inquiriesDTO.inquiry_answer_status}
            </if>
            <if test="inquiriesDTO.startDate != null and inquiriesDTO.endDate != null">
                AND i.inquiry_write_date BETWEEN #{inquiriesDTO.startDate} AND #{inquiriesDTO.endDate}
            </if>
        )
        WHERE row_num BETWEEN #{startRow} AND #{endRow}
	</select>
	
	<select id="getTotalCount" resultType="int" parameterType="map">
	    SELECT 
	    	COUNT(*) 
	    FROM 
	    	inquiries i
	    WHERE 
	    	i.member_id = #{inquiriesDTO.member_id}
	    <if test="inquiriesDTO.inquiry_answer_status != null and inquiriesDTO.inquiry_answer_status != ''">
	        AND i.inquiry_answer_status = #{inquiriesDTO.inquiry_answer_status}
	    </if>
	    <if test="inquiriesDTO.startDate != null and inquiriesDTO.endDate != null">
	        AND i.inquiry_write_date BETWEEN #{inquiriesDTO.startDate} AND #{inquiriesDTO.endDate}
	    </if>
	</select>

	<delete id="deleteInquiry" parameterType="Integer">
        DELETE FROM
        	inquiries
        WHERE 
        	inquiry_num = #{inquiry_num}
    </delete>
	
	<update id="resetRequestQty" parameterType="Integer">
		UPDATE 
			Customer_Order_Details
		SET 
			ORDER_REQUEST_QTY = 0
		WHERE
			order_detail_num = #{order_detail_num}
	</update>


	<resultMap id="OrderWithBooksResultMap" type="userInquiries">
	    <id column="order_num" property="order_num" />
	    <result column="order_purchase_date" property="order_purchase_date" />
	    <collection property="books" ofType="com.ezen.bookstore.user.mypage.inquiries.dto.UserInquiriesBookDTO">
	        <result column="book_name" property="book_name"/>
			<result column="order_detail_num" property="order_detail_num" />
			<result column="order_detail_qty" property="order_detail_qty" />
			<result column="order_request_qty" property="order_request_qty" />
	    </collection>
	</resultMap>

	<select id="getOrderList" resultMap="OrderWithBooksResultMap" parameterType="userInquiries">
	    SELECT DISTINCT
	        o.order_num,
	        o.order_purchase_date,
	        b.book_name,
	        d.order_detail_num,
	        d.order_detail_qty,
	        d.order_request_qty
	    FROM 
	        Customer_Orders o
	    JOIN 
	        Customer_Order_Details d ON o.order_num = d.order_num
	    JOIN 
	        Books b ON d.book_isbn = b.book_isbn
	    WHERE 
	        o.member_id = #{member_id}
	        <if test="startDate != null and endDate != null">
		    	AND o.order_purchase_date BETWEEN #{startDate} AND #{endDate}
			</if>
		ORDER BY o.order_purchase_date ASC
	</select>
	
	<insert id="registerInquiry" parameterType="userInquiries">
    INSERT INTO inquiries (
        inquiry_num,
        inquiry_title,
        inquiry_content,
        member_id,
        inquiry_type,
        order_num,
        order_detail_num,
        order_qty
        <if test="inquiries_original != null">, inquiries_original</if>
        <if test="inquiries_changed != null">, inquiries_changed</if>
    )
    VALUES (
        INQUIRIES_SEQ.NEXTVAL,
        #{inquiry_title},
        #{inquiry_content},
        #{member_id},
        #{inquiry_type},
        #{order_num},
        #{order_detail_num},
        NVL(#{order_request_qty}, 0)
        <if test="inquiries_original != null">, #{inquiries_original, jdbcType=VARCHAR}</if>
        <if test="inquiries_changed != null">, #{inquiries_changed, jdbcType=VARCHAR}</if>
    )
	</insert>

	<update id="updateRequest" parameterType="userInquiries">
	UPDATE 
		Customer_Order_Details
	SET 
		order_request_qty = #{order_request_qty}
	
	WHERE
		order_detail_num = #{order_detail_num}
	
	
	</update>
</mapper>