<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ezen.bookstore.user.mypage.notice.mapper.UserNoticesMapper">
	
	<select id="getNoticesListWithPaging" parameterType="map" resultType="userNotice">
	    SELECT * FROM (
	        SELECT 
	            ROW_NUMBER() OVER (ORDER BY notice_write_date DESC) AS rnum, 
	            notice_num, 
	            notice_title, 
	            notice_visible, 
	            notice_write_date, 
	            notice_start_date, 
	            notice_end_date
	        FROM 
	            notices
	        WHERE 
	            notice_visible != '02'
	            AND notice_title LIKE #{keyword}
	            AND (notice_end_date IS NULL OR notice_end_date >= SYSDATE)
	            AND (notice_start_date IS NULL OR notice_start_date &lt;= SYSDATE)
	            
	    ) 
	    WHERE rnum BETWEEN #{startRow} AND #{endRow}
	</select>

	
	<select id="getTotalNoticesCount" parameterType="string" resultType="int">
	    SELECT 
	    	COUNT(*)
	    FROM 
	    	notices
	    WHERE 
	    	notice_visible != '02'
	    	AND notice_title LIKE #{keyword}
	    	AND (notice_end_date IS NULL OR notice_end_date >= SYSDATE)
	    	AND (notice_start_date IS NULL OR notice_start_date &lt;= SYSDATE)
	    	
	    	 
	</select>


	<select id="getNoticesDetail" parameterType="userNotice" resultType="userNotice">
		SELECT
			notice_num,
			notice_title,
			notice_visible,
			notice_content,
			manager_id,
			notice_write_date,
			notice_start_date,
			notice_end_date
		FROM
			notices
		WHERE
			notice_num = #{notice_num}
			AND (notice_end_date IS NULL OR notice_end_date >= SYSDATE)
			AND (notice_start_date IS NULL OR notice_start_date &lt;= SYSDATE)
			
	</select>
	
	<select id="getPreviousNotice" parameterType="map" resultType="userNotice">
	    SELECT * FROM (
	        SELECT * FROM notices
	        WHERE notice_num &lt; #{noticeNum}
	        AND notice_visible != '02'
	        <if test="keyword != null and keyword != ''">
	            AND notice_title LIKE #{keyword}
	        </if>
	        ORDER BY notice_num DESC
	    )
	    WHERE ROWNUM = 1
	   	AND (notice_end_date IS NULL OR notice_end_date >= SYSDATE)
	    AND (notice_start_date IS NULL OR notice_start_date &lt;= SYSDATE)
	    
	</select>


    <select id="getNextNotice" parameterType="map" resultType="userNotice">
	    SELECT * FROM (
	        SELECT * FROM notices
	        WHERE notice_num > #{noticeNum}
	        AND notice_visible != '02'
	        <if test="keyword != null and keyword != ''">
	            AND notice_title LIKE #{keyword}
	        </if>
	        ORDER BY notice_num ASC
	    )
	    WHERE ROWNUM = 1
	    AND (notice_end_date IS NULL OR notice_end_date >= SYSDATE)
		AND (notice_start_date IS NULL OR notice_start_date &lt;= SYSDATE)
	    
	</select>




</mapper>