<!DOCTYPE html>
<html lang="ko" xmlns:th="www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
	<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
</head>
<body>
	<div>
		<div>
			<label>날짜검색</label>
			<span>
				<select name="date_search">
					<option value="">검색조건</option>
					<option value="purchase_date">구매날짜</option>
					<option value="request_date">요청날짜</option>
				</select>
		        <input type="text" id="start_date" name="start_date" placeholder="YYYY-MM-DD" readonly="readonly" value="" /> - 
		        <input type="text" id="end_date" name="end_date" placeholder="YYYY-MM-DD" readonly="readonly" value="" />
		        <input type="button" onclick="date_btn_click(0)" value="오늘" />
		        <input type="button" onclick="date_btn_click(7)" value="일주일" />
		        <input type="button" onclick="date_btn_click(30)" value="1개월" />
		        <input type="button" onclick="date_btn_click(365)" value="1년" />
			</span>
		</div>
		<div>
			<label>주문상태</label>
			<input type="radio" id="order_status_btn" name="order_status_btn" value=""/>
			<label for="order_status_btn">전체</label>
			<input type="radio" id="order_status_btn" name="order_status_btn" value=""/>
			<label for="order_status_btn">변경요청</label>
			<input type="radio" id="order_status_btn" name="order_status_btn" value=""/>
			<label for="order_status_btn">처리완료</label>
		</div>
	</div>
	<div>
		<div>
			<span><input type="checkbox" /></span>
			<span>NO</span>
			<span>주문번호</span>
			<span>주문자ID</span>
			<span>이름</span>
			<span>총구매금액</span>
			<span>구매날짜</span>
			<span>배송상태</span>
			<span>결제상태</span>
			<span>주문상태</span>
			<span>요청날짜</span>
		</div>
		<div th:each="order, status : ${order_list}">
			<span><input type="checkbox" /></span>
			<span th:text="${status.size - status.count}"></span>
			<span th:text="${order.order_num}"></span>
			<span th:text="${order.member_id}"></span>
			<span th:text="${order.member_name}"></span>
			<span th:text="${order.formatPrice}"></span>
			<span th:text="${#dates.format(order.order_purchase_date, 'yyyy-MM-dd')}"></span>
			<span th:text="${order.order_delivery_status}"></span>
			<span th:text="${order.order_payment_status}"></span>
			<span th:text="${order.order_status}"></span>
			<span th:text="${order.order_modify_date == null ? '-' : #dates.format(order.order_modify_date, 'yyyy-MM-dd')}"></span>
		</div>
	</div>
	
	<script src="/customer_orders/js/list.js"></script>
</body>
</html>