.pw-checkbox {
	border: 1px solid #C0C0C0;
	border-radius: 7px;
	padding: 30px;
	width: 750px;
}
.pw-checkbox-span {
	display: flex;
	flex-direction: column;
	gap: 10px;
	margin-bottom: 40px;
}
.pw-checkbox-input {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 20px;
}		
.big-font {
	font-size: 30px;
	font-weight: 700;
	display: block;
} 
.middle-font {
	font-size: 25px;
	font-weight: 700;
}

.default-font {
  	font-size: 16px;
  	color: #7E7E7E;
}

.info-box {
	background-color: #FAF8FE;
	width: 920px;
	padding: 25px;
	border-radius: 10px;
}

.info-box > ul {
	padding : 30px;
}

.info-box > ul > li {
	list-style: disc;
	font-size: 14px;
	color: #7E7E7E;
	line-height: 1.8;
}
.pw-box {
	display: grid;
    justify-content: center;
    margin-top: 50px;
}