<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ezen.bookstore.user.members.mapper.UserMyPageMapper">
	
	<select id="getUser" parameterType="String" resultType="userMembers">
		SELECT
			*
		FROM
			members
		WHERE
			member_id = #{member_id}
	
	</select>
	
	
	<select id="findPwById" parameterType="String" resultType="String">
		SELECT member_pw FROM members WHERE member_id = #{member_id}
	</select>
	
	
	<update id="updateMemberInfo" parameterType="userMembers">
    	UPDATE members
    <set>
        <trim suffixOverrides=",">
            <if test="member_pw != null and !member_pw.equals('')">
                member_pw = #{member_pw},
            </if>
            <if test="member_phoneNo != null and member_phoneNo != ''">
                member_phoneNo = #{member_phoneNo},
            </if>
            <if test="member_email != null and member_email != ''">
                member_email = #{member_email},
            </if>
            <if test="member_addr != null and member_addr != ''">
                member_addr = #{member_addr},
            </if>
            <if test="member_detail_addr != null and member_detail_addr != ''">
                member_detail_addr = #{member_detail_addr}
            </if>
        </trim>
    </set>
	    WHERE member_id = #{member_id}
	</update>
	
	
</mapper>